/* RESET STUFF */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* HERO STYLING */
.jumbotron {
	background: url('https://source.unsplash.com/1400x750') center center fixed
		no-repeat;
	background-size: cover;
	box-shadow: inset 10000px 0 0 rgba(0, 0, 0, 0.4);
	height: 100vh;
	margin-bottom: 0;
}

.jumbotron:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 300px;
	background: linear-gradient(to top, #151515, transparent);
	left: 0;
	bottom: 0;
	z-index: 999;
}

/* HERO TRANSITIONS ON SCROLL DOWN AND TRANSFORMING AND SCALE */
.jumbotron {
	transition: all 0.8s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.jumbotron-fade-bottom {
	transform: scale(0.85);
	opacity: 0.1;
}

/* WEBINAR SECTION MOBILE FIRST */
.webinars {
	background-color: lightcyan;
	overflow: hidden;
}

.webinar-images {
	display: none;
}

.webinar-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

@media (min-width: 600px) {
	.webinars,
	.webinar-images {
		display: grid;
	}
	.webinars {
		gap: 1%;
		grid-template-columns: 65% 45%;
	}

	.webinar-images {
		gap: 4%;
		grid-template-columns: repeat(2, 1fr);
	}

	/* WEBINAR IMAGES STYLING */
	[class*='cover-'] img {
		padding: 3%;
		border-radius: 5%;
		background-color: rgba(238, 238, 238, 0.445);
		box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
			0 30px 60px -30px rgba(0, 0, 0, 0.3),
			inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
		transform: rotate(-6deg);
		transform-origin: 100% 0;
	}
}

@media (min-width: 900px) {
	.webinars {
		grid-template-columns: 50% 50%;
	}
}

/* GRID GALLERY  */
.gallery {
	background-color: black;
	position: relative;
	height: 45vh;
	overflow: hidden;
}

.gallery-wrap {
	position: relative;
	display: flex;
	transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
	left: 50%;
	top: 50%;
}

.gallery-wrap,
[class*='gallery-row'] {
	display: grid;
	gap: 0.45rem;
	width: 130%;
}

[class*='gallery-row']:nth-child(even) {
	transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

[class*='gallery-row'] {
	grid-template-columns: repeat(6, 1fr);
}

[class*='gallery-row'] img {
	width: 100%;
}

.grid-header {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	text-align: center;
	box-shadow: inset 10000px 0 0 rgba(0, 0, 0, 0.55);
}

/* HEADER STYLINGS */
.grid-header {
	color: white;
}

@media (min-width: 600px) {
	.gallery {
		height: 65vh;
	}
	.gallery-wrap,
	[class*='gallery-row'] {
		width: 135%;
	}
}

@media (min-width: 900px) {
	.gallery {
		height: 80vh;
	}
	.gallery-wrap,
	[class*='gallery-row'] {
		gap: 1.05rem;
		width: 120%;
	}
}
