/* RESET STUFF */
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* GLOBAL STYLINGS */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 120px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/********************************************************
*********************************************************
HERO STYLING
*********************************************************
*********************************************************/

.jumbotron {
	background: url('https://source.unsplash.com/1400x750') center center fixed
		no-repeat;
	background-size: cover;
	box-shadow: inset 10000px 0 0 rgba(0, 0, 0, 0.4);
	height: 100vh;
	margin-bottom: 0;
}

.jumbotron:before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 300px;
	background: linear-gradient(to top, #151515, transparent);
	left: 0;
	bottom: 0;
	z-index: 999;
}

/** HERO TRANSITIONS ON SCROLL DOWN AND TRANSFORMING AND SCALE **/
.jumbotron {
	transition: all 0.8s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.jumbotron-fade-bottom {
	transform: scale(0.85);
	opacity: 0.1;
}

/********************************************************
*********************************************************
GRID ROW GALLERY SCROLL
*********************************************************
*********************************************************/

.gallery {
	background-color: black;
	position: relative;
	height: 45vh;
	overflow: hidden;
}

.gallery-wrap {
	position: relative;
	display: flex;
	transform: translate3d(-50%, -50%, 0) rotate(22.5deg);
	left: 50%;
	top: 50%;
}

.gallery-wrap,
[class*='gallery-row'] {
	display: grid;
	gap: 0.45rem;
	width: 130%;
}

[class*='gallery-row']:nth-child(even) {
	position:relative;
	left:-150px;
}


[class*='gallery-row'] {
	grid-template-columns: repeat(6, 1fr);
}

[class*='gallery-row'] img {
	width: 100%;
}

.grid-header {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	text-align: center;
	box-shadow: inset 10000px 0 0 rgba(0, 0, 0, 0.55);
}

/** GRID ROW GALLERY SCROLL CONTENT STYLINGS **/
.grid-header {
	color: white;
}

@media (min-width: 600px) {
	.gallery {
		height: 65vh;
	}
	.gallery-wrap,
	[class*='gallery-row'] {
		width: 135%;
	}
}

@media (min-width: 900px) {
	.gallery {
		height: 70vh;
	}
	.gallery-wrap,
	[class*='gallery-row'] {
		width: 120%;
	}
}
/********************************************************
*********************************************************
WEBINAR SECTION MOBILE FIRST
*********************************************************
*********************************************************/

.webinars {
	background-color: lightcyan;
	overflow: hidden;
}

.webinar-images {
	display: none;
}

.webinar-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

@media (min-width: 600px) {
	.webinars,
	.webinar-images {
		display: grid;
	}
	.webinars {
		gap: 1%;
		grid-template-columns: 65% 45%;
	}

	.webinar-images {
		gap: 4%;
		grid-template-columns: repeat(2, 1fr);
	}

	/** WEBINAR IMAGES STYLING **/
	[class*='cover-'] img {
		padding: 3%;
		border-radius: 5%;
		background-color: rgba(238, 238, 238, 0.445);
		box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
			0 30px 60px -30px rgba(0, 0, 0, 0.3),
			inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
		transform: rotate(-6deg);
		transform-origin: 100% 0;
	}
}

@media (min-width: 900px) {
	.webinars {
		grid-template-columns: 50% 50%;
	}
}



/********************************************************
*********************************************************
CAROUSEL GALLERY
*********************************************************
*********************************************************/

/** FLEX / POSITIONING ON MOBILE **/
.carousel {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
}

/* Previous and Next Arrow Positioning */
.carousel-arrs [class*='arr-'] {
	position: absolute;
	top: 37%;
	background: none;
	border: none;
	z-index: 9999;
}

.carousel-arrs .arr-prev {
	left: -2%;
}

.carousel-arrs .arr-next {
	right: -2%;
}

/** SETTING SCROLLING CONTENT INLINE, HIDDING OVERFLOWS AND SETTING HEIGHTS AND WIDTHS FOR MAIN CONTENT SECTIONS **/
.carousel-content,
.carousel-images {
	display: inline-flex;
  overflow: hidden;
  width:100%;
}

.carousel-content {
	height: 450px;
	min-height: 100%;
}

.carousel-images img {
	width: 100vw;
	min-width: 100%;
	height: 310px;
	object-fit: cover;
	border-radius: 0.25rem 0.25rem 0% 0%; /* Rem Values Taken from BS4 .rounded class*/
}

.carousel-content-item {
  min-width: 100%;
  padding: 50px 40px;
}

/** MOBILE / TYPOGRAPHY / PADDING / MARGINS STYLING **/

.carousel {
  border-radius: .25rem!important;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
		0 30px 60px -30px rgba(0, 0, 0, 0.3),
		inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
}

.carousel-arrs [class*='arr-'] svg {
	background-color: #fff;
	border-radius: 50%;
	color: #00aeef;
	box-shadow: none;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.105);
	pointer-events: all;
	transition: all .2s ease-in-out;
}

.carousel-arrs [class*='arr-'] svg:hover {
	color: #f4af38;
	transform: translateY(-2px);

}

/* Transitions and Hide Class Styling */
.carousel-images img, .carousel-content .carousel-content-item {
	transition: visibility 0s, opacity 0.3s ease-in;
}

.hide {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

/** STYLE OVERRIDES FOR 768PX AND ABOVE  **/
@media (min-width: 768px) {

  /** FLEX / POSITIONING **/
	.carousel {
		flex-flow: row nowrap;
    align-items: stretch;
    overflow:hidden;
  }

  /* Previous and Next Arrow Positioning */
	.carousel-arrs [class*='arr-'] {
		top: 50%;
  }

	.carousel-arrs .arr-prev {
		left: 0%;
	}
	.carousel-arrs .arr-next {
		right: 0%;
  }

  /* SETTING SCROLLING CONTENT INLINE, HIDDING OVERFLOWS AND SETTING HEIGHTS AND WIDTHS FOR MAIN CONTENT SECTIONS */
  .carousel-content {
		height: 550px;
		align-items: center;
  }

  .carousel .carousel-images,
	.carousel .carousel-content {
		flex-basis: 50%;
	}

  /** MOBILE / TYPOGRAPHY / PADDING / MARGINS STYLING **/
	.carousel-images {
		background-color: #00afef44;
		-webkit-clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
	}
	.carousel-images img {
		min-height: 100%;
		-webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }

	.carousel-content-item {
		padding: 80px 70px 80px 0px;
	}
}

